*
{
padding: 0;
margin: 0;
}
body
{
	background: #FFE4E1;
	font-family: "Architects Daughter";
	font-size:24px;	
}	
.main-container{
	width: 95%;
	margin: auto;
}
.container1{
	margin-left:5%;	
}	
.container2{
	display: flex;
	justify-content: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 5%;
}
.container3{
	display:none;
	position: absolute;
	top: 26%;
	left: 4
}	
	
	
textarea {
	box-shadow:  10px 10px 24px 0px rgba(0,0,0,0.75);
	outline:none;
	border:none;
	width: 275px;
	height: 275px;
	padding: 40px 25px 25px 25px;
}
#check-icon{
	position: absolute;	
	right:17%;
	top:4%;
	
}
#x-icon{
	position: absolute;
	right: 5%;
	top: 4%;
}
	